EXPO_PUBLIC_SUPABASE_URL=https://jstylllvekaqibooizbl.supabase.co
EXPO_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_rLnatUOvtt2ACUJtAbQ1ww_s2_mISFc
EXPO_PUBLIC_APP_URL=http://localhost:8081 
EXPO_PUBLIC_AUTH_CALLBACK_PATH=/auth/callback 
ELEVENLABS_API_KEY=sk_e96d030a81911f55fe8be364b9204ac8b9794aaeb5b18e99
ELEVENLABS_VOICE_ID=21m00Tcm4TlvDq8ikWAM 